p{
    color: red;
}
span{
  color: blue;
}
h2{
  font-weight: 900;
  text-shadow: 2px 2px pink;
  text-decoration: underline;
}

h2:hover{
  background-color: yellow;
  cursor: pointer;
}

.cyan{
  color: #1affff;
}

.purple{
  color: purple;
}

#pink{
  color: pink;
}

.bold{
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
